# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables / secrets
.env
.env.*   # e.g., .env.local, .env.production

# Django stuff
*.sqlite3
db.sqlite3

# Media / uploaded files
media/
staticfiles/

# Virtual environments
venv/
.env_venv/
.venv/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor configs
.vscode/
.idea/
